.desiredSpeed {
  font-family: "Arial", b;
}

.section {
  width: 33.33%;
  font-family: "Arial", b;
  background-color: white;
  line-height: 10px;
}

.img {
  margin-top: 2%;
  width: 50%;
}

.smlbut {
  width: 50%;
  height: 33.33%;
  background-color: whitesmoke;
}

.bigbut {
  width: 100%;
  height: 33.33%;
  background-color: whitesmoke;
}
